    <!-- Sectiune Footer -->

    <footer id="footer">
        <i class="fab fa-facebook social-icon"></i>
        <i class="fab fa-instagram social-icon"></i>
        <i class="fab fa-twitter social-icon"></i>
        <i class="far fa-envelope social-icon"></i>
        <p>© Copyright 2020 maaos___vision </p>
    </footer>

