<!DOCTYPE html>
<html lang="UTF-8">

<head>
    <meta charset="UTF-8">
    <title>Park@</title>

    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,600;0,700;0,900;1,100;1,400;1,600&family=Ubuntu:wght@300;400;500;700&display=swap"
        rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/park.app.css">

 
</head>

<body class="log">

    <form action="/inregistrare" class="form-signin" method="POST">
        <img class="logo mb-4" src="images/park@bv.png" alt="" loading="lazy" id="logolog">
        Park@
        <h3 class="text-mic mb3">Crează cont</h3>
  
        <input type="text"  name ="nume" class="form-control top" placeholder="Nume" required autofocus>
    
        <input type="email" name="username" class="form-control middle" placeholder="Email" required>

        <input type="text" name="telefon" class="form-control" placeholder="Telefon" required>

        <input type="password" name="password" class="form-control bottom" placeholder="Parolă" required>
     
        <button class="btn btn-lg btn-primary btn-block btnlog" type="submit">Creare</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020 maaos___vision</p>
      </form>



      <%- include('scripts'); -%>

</body>

</html>